doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Kerja Bareng

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 Kelompok PEJUANG
		ul
			li Ari Ramadhani 10.111.3202
			li Josua Gommos Marpaung 10.111.
			li Ilham Wahyudi 10.111.2702
			li Hilton Ory Sekawa 11.111.
			li Reza Ginting 11.111.
			
      section
         h1 HACKER DAN HACKING

      section
        h2 Sejarah
        ul
           li Terminologi peretas muncul pada awal tahun 1960-an di antara para anggota organisasi mahasiswa
           li Tech Model Railroad Club di Laboratorium Kecerdasan Artifisial Massachusetts Institute of Technology (MIT). 
           li Kata bahasa Inggris "hacker" pertama kalinya muncul dengan arti positif
           li untuk menyebut seorang anggota yang memiliki keahlian dalam
           li bidang komputer dan mampu membuat program komputer yang lebih baik daripada yang telah dirancang bersama.
           li Dan pada tahun 1983, istilah “hacker” mulai berkonotasi negatif.
		   li Pasalnya, pada tahun tersebut untuk pertama kalinya FBI
		   li menangkap kelompok kriminal komputer The 414s yang berbasis di Milwaukee, Amerika Serikat.
      section
        h2 Pengertian Hacking
        ul
          li Kegiatan sekelompok orang atau individu yang memberikan sumbangan
          li bermanfaat untuk dunia jaringan dan sistem operasi,
          li membuat program bantuan untuk dunia jaringan dan komputer.
          li Hacker juga bisa di kategorikan perkerjaan
		  li yang dilakukan untuk mencari kelemahan suatu system
          li dan memberikan ide atau pendapat yang bisa memperbaiki kelemahan system yang di temukannya.
		  li Sedangkan orang yg melakukan Hacking itu sendiri disebut HACKER
     
      section
		h2 Pengertian HACKER Menurut Pemahaman
        ul
          li 1. Menurut orang awam.
          li Hacker adalah seseorang yg dapat merusak sistem keamanan dan mencuri data – data melalui internet.
          li 2. Middle IT.
          li Hacker adalah sebutan untuk mereka yang memberikan sumbangan yang bermanfaat
          li kepada jaringan komputer, membuat program kecil dan memberikanua dengan orang – orang di internet.
		  li 3. Hihgly IT.
		  li Hacker adalah golongan orang yang sangat profesional di bidang IT
		  li dan jaringan komputer dengan pembelajaran yang sangat tekun.
		  
      section
         h2 Jenis - jenis HACKER
         ul 
           li Hacker itu terserdiri terbagi menjadi 2 jenis, yaitu :
		   li 1. White Hat Hacker
		   li Istilah dalam bahasa inggris White Hat yaitu,
		   li memfokuskan aksinya bagaimana dalam melindungi suatu sistem.
           li 2. Black Hat Hacker
		   li Istilah dalam bahasa inggris yang mengacu kepada peretas
		   li yaitu mereka yang mencoba menerobos masuk ke keamanan sistem komputer tanpa izin.
		   li Umumnya dengan maksud mengakses komputer - komputer yang menggunakan jaringan tersebut.
		   
      section
         h2 Sifat Yang Dimiliki HACKER
         ul 
           li 1. kemampuan ilmu teknologi & jaringan dan selalu belajar memahami system operasi.
           li 2. senantiasa mengecek situs – situs yang mengalami kelemahan dalam system keamanan.
		   li 3. mempunyai etika serta kreatif dalam merancang suatu program yang berguna bagi siapa saja.
		   
	  section 
         h2 Rangkuman HACKER
         ul 
           li 1. Mempunyai kemampuan menganalisa kelemahan suatu sistem atau situs.
		   li 2. Hacker mempunyai etika serta kreatif dalam merancang suatu program yang berguna bagi siapa saja.
		   li 3. Seorang Hacker tidak pelit membagi ilmunya kepada orang-orang yang seriusatas nama ilmu pengetahuan dan kebaikan.
		   
	  section 
         h2 Penyebab Terjadinya HACKING
         ul 
           li Penyebab terjadinya hacking biasanya dilandasi dengan beberapa hal :
           li 1. Rasa ingin tahu akan suatu system keamananya.
		   li 2. Penggunaan internet yg tak terbatas.
		   li 3. Dapat dilakukan dimana saja asalkan terhubung dengan internet.
		   li 4. Iseng.
		   
	  section 
         h2 Penanggulangan HACKING
         ul 
           li 1. meningkatkan kemampuan di bidang IT dan jaringan.
		   li 2. memastikan apakah system keamanan sudah benar – benar sulit untuk dibobol.
		   li 3. adanya sangsi keras terhadap penyalahgunaan internet.
		   li 4. merefisi undang – undang ITE menjadi lebih jelas jeratan hukumnya.
		   
	  section 
         h2 Etika HACKING
         ul 
           li 1. Di atas segalanya, hormati pengetahuan & kebebasan informasi.
		   li 2. Memberitahukan sistem administrator akan adanya pelanggaran keamanan/lubang di keamanan yang anda lihat
		   li 3. Jangan mengambil keuntungan yang tidak fair dari hack.
		   li 4. Tidak mendistribusikan & mengumpulkan software bajakan.
		   li 5. Tidak pernah mengambil risiko yang bodoh
		   
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

    script(src='build/build.js')